# Ignore everything
/*
!.gitignore

# Except for the files and folders we want to track
!Wallpapers
!README.md
!.screenshot.png

!.screenlayout
!.bashrc
!.spectrwm.conf
!.baraction.sh
!.xsession
!.Xresources
!.gtkrc-2.0
!.IdeaIC2019.3
!.config
