# Ignore everything
/*
!.gitignore

# Except for the files and folders we want to track
!alacritty
!fish
!omf
!nvim
!rofi
!vifm
!ranger
!qtile
!spectrwm
!openbox
!tint2
!xmobar
!dwm
!dwmblocks
!xmonad
!xob
